header {
    background-color: #E7E9FC;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #2E2F42;
}
.logo-footer { font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
color: #F4F4FD;
}

.logo-accent {
    color: #4D5AE5;
}


.page-nav .link { 
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: none;
    color: #2E2F42;
}
.page-nav .link:hover {
    color: #404BBF;
}
.page-address .link { 
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: none;
    color: #434455;
}
.page-address .link:hover, 
.page-address .link:focus {
    color: #404BBF;
}
h1 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    text-align: center;
}
.hero {
    background-color: #2E2F42;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    text-decoration: underline;
    cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
.feature {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2%;
}
.feature-description {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.team {
    background-color: #F4F4FD;
}
.team-list .team-member-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2%;
        text-align: center;
}
.team-list .team-member-position {
    color: #434455;
    font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
        text-align: center;
}
.team-member {
    background-color: #FFFFFF;
}
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;  
    font-size: 36px;
    letter-spacing: 2%;
    text-align: center;
    color: #2E2F42;
}
.project-name {
    font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2%;
        color: #2E2F42;
}
.project-type {
    font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
        color: #434455;
}
.end {
    background-color: #2E2F42;
}
.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
color: #F4F4FD;}